.App {
  text-align: center;
}





.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(207, 56, 56);
}

.App-link {
  color: #61dafb;
}


